* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

ul {
  list-style: none;
}

.link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF !important;
}

.link:hover {
  color: #F0145A !important;
}
.link:hover path {
  stroke: #F0145A !important;
}

.dot_separator {
  padding: 0 6px 0 6px;
}

h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1330px;
  padding: 0 5px;
}

.header_lang:hover {
  background: #F0145A;
}

.fb:hover path {
  fill: #F0145A;
}

h4:hover {
  color: #F0145A !important;
}

header {
  background-image: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  position: relative;
  border-radius: 0px 0px 12px 12px;
  padding-bottom: 60px;
}
header .header_pop {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
header .header_pop:target {
  visibility: visible;
  opacity: 1;
  padding: 8px;
}
header .header_pop:target .pop_wrp {
  margin: 50% auto;
  padding: 8px;
  background: #fff;
  position: relative;
  transition: all 1.5s ease-in-out;
  background: #FFFFFF;
  border-radius: 12px 12px 12px 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
header .header_pop:target .pop_wrp .close {
  display: flex;
  justify-content: end;
}
header .header_pop:target .pop_wrp .close a {
  background-color: transparent;
}
header .header_pop:target .pop_wrp a {
  display: flex;
  flex-direction: column;
  color: #24A3FF;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  border-radius: 12px;
  background: #F5F5FA;
  padding: 7px;
}
header .header_h {
  background: url(../icons/big\ H.svg) top center/auto no-repeat;
  width: 100%;
}
header .header_h .header_wrp .header_menue {
  padding-top: 50px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
header .header_h .header_wrp .header_menue .right_side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 16px;
}
header .header_h .header_wrp .header_menue .right_side .header_contacts {
  display: flex;
  align-items: center;
}
header .header_h .header_wrp .header_menue .right_side .header_contacts .header_lang_wrp {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  border: 0;
}
header .header_h .header_wrp .header_menue .right_side .header_contacts .header_lang_wrp .header_lang {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 25px;
  border-radius: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #FFFFFF;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
header .header_h .header_wrp .header_menue .right_side .header_contacts .header_address {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
header .header_h .header_wrp .header_menue .right_side .header_contacts .header_numb {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
header .header_h .header_wrp .header_menue .right_side .header_nav a {
  margin-left: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: right;
  color: #FFFFFF;
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}
header .header_h .header_wrp .header_menue .right_side .header_nav a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFFFFF;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
header .header_h .header_wrp .header_menue .right_side .header_nav a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
header .header_h .header_wrp .logo_mini {
  display: none;
}
header .header_h .header_wrp h1 {
  margin-top: 255px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  color: #FFFFFF;
}
header .header_h .header_wrp .header_scroll {
  margin-top: 305px;
  display: flex;
  justify-content: center;
}
header .header_h .header_wrp .header_scroll svg:hover circle {
  stroke: #F0145A;
}
header .header_h .header_wrp .header_scroll svg:hover path {
  stroke: #F0145A;
}
header .header_h .section_expo {
  display: flex;
  margin: 0 auto;
  align-items: center;
  max-width: 1080px;
  margin-top: 90px;
  margin-bottom: 60px;
}
header .header_h .section_expo .expo_nav {
  padding: 14.5px 60px 14.5px 0;
  border-right: 4px solid rgba(255, 255, 255, 0.3);
}
header .header_h .section_expo .expo_nav ul {
  display: flex;
  row-gap: 30px;
  flex-direction: column;
}
header .header_h .section_expo .expo_nav ul li {
  text-align: right;
}
header .header_h .section_expo .expo_nav ul li a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: right;
  color: #B3B3BA;
}
header .header_h .section_expo .expo_nav ul li a:hover {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
header .header_h .section_expo .expo_text {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-left: 60px;
  max-width: 615px;
  text-align: left;
}
header .header_h .section_expo .expo_text h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
}
header .header_h .section_expo .expo_text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
}
header .header_h .header_services a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
header .header_h .header_services h2 {
  padding: 10px 0 56px 0;
}
header .header_h .header_services .header_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 65px;
  column-gap: 60px;
}
header .header_h .header_services .header_items .item {
  max-width: 400px;
}
header .header_h .header_services .header_items .item img {
  padding: 14px;
  background: #FFFFFF;
  border-radius: 24px;
}
header .header_h .header_services .header_items .item h4 {
  padding: 26px 0 15px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #24A3FF;
}
header .header_h .header_services .header_items .item p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

header::before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 1px;
  height: 11px;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0 10px 0 0 #CACADB;
}

header:after {
  z-index: -2;
  content: "";
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: 1px;
  height: 11px;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0 20px 0 0 #E7E7F2;
}

main .main__team {
  margin: 60px 0 60px 0;
  display: flex;
  flex-direction: row;
  background: #F5F5FA;
  border-radius: 12px;
  column-gap: 30px;
  align-items: center;
}
main .main__team .team_photo .portrait {
  border-radius: 12px 0px 0px 12px;
  object-fit: cover;
  width: 400px;
  height: 344px;
}
main .main__team .team_descr {
  max-height: 344px;
  max-width: 860px;
}
main .main__team .team_descr a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
main .main__team .team_descr h2 {
  padding: 0 0 30px 0;
}
main .main__team .team_descr .name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
  padding-bottom: 6px;
}
main .main__team .team_descr .job_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
}
main .clients h3 {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  padding-bottom: 30px;
}
main .clients .clients_company {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
}
main .clients .clients_company .clients_brand {
  min-width: 25%;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .clients .clients_company .hillel {
  background-color: #1C4280;
}
main .clients .clients_company .wannabiz {
  background-color: #143646;
}
main .clients .clients_company .tapgerine {
  background-color: #F48B30;
}
main .clients .clients_company .dlook {
  background-color: #9E4DC3;
}
main .clients .clients_company .oranger {
  background-color: #FD9339;
}
main .clients .clients_company .adtelligent {
  background-color: #E2E2E4;
}
main .clients .clients_company .clicky {
  background-color: #C71C36;
}
main .clients .clients_company .ecolease {
  background-color: #DCF3F9;
}
main .clients .clients_company .InfraTek {
  background-color: #EAEAEA;
}
main .clients .clients_company .city_park {
  background-color: #282240;
}
main .clients .clients_company .art_print {
  background-color: #1D4568;
}
main .clients .clients_company .ultimate {
  background-color: #000000;
}

.publication {
  padding: 30px 0 30px 0;
  background-color: #F5F5FA;
}
.publication a {
  color: #24A3FF;
}
.publication h2 {
  padding-top: 10px;
}
.publication_recommended {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 30px;
}
.publication_recommended .publication_card {
  background-color: #FFFFFF;
  margin-top: 30px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  max-width: 420px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.publication_recommended .publication_card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}
.publication_recommended .publication_card .publication_text {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
}
.publication_recommended .publication_card .publication_text a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
  padding-bottom: 15px;
}
.publication_recommended .publication_card .publication_text span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
}
.publication_recommended .publication_card .publication_text hr {
  margin: 15px 0 15px 0;
  height: 4px;
  background-color: #E6E6F0;
  border: 0;
  border-color: #E6E6F0;
}
.publication_recommended .publication_card .publication_text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

footer {
  background-color: #F5F5FA;
}
footer .footer_wrp {
  border-top: 2px solid #E6E6F0;
  display: flex;
  padding: 30px 0 30px 0;
}
footer .footer_wrp .footer_contacts {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
footer .footer_wrp .footer_contacts .footer_address {
  display: flex;
  flex-direction: row;
}
footer .footer_wrp .footer_contacts .footer_address .footer_place {
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}
footer .footer_wrp .footer_contacts .footer_address .footer_map {
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
footer .footer_wrp .footer_contacts .footer_connection {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footer_wrp .footer_contacts .footer_connection .footer_numb {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #46466E;
}
footer .footer_wrp .footer_contacts .footer_connection .footer_mail {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}
footer .footer_wrp .footer_contacts .footer_connection .footer_mail:hover {
  color: #F0145A;
}
footer .footer_wrp .footer_roots {
  display: flex;
  margin-left: auto;
}
footer .footer_wrp .footer_roots a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}

@media (min-width: 1441px) {
  .container {
    position: relative;
    margin: 0 auto;
    max-width: 1610px;
    padding: 0 5px;
  }
  header .section_expo {
    max-width: 1360px !important;
  }
  header .section_expo .expo_text {
    max-width: 861px !important;
  }
  header .header_services .header_items {
    justify-items: flex-start !important;
    column-gap: 60px !important;
  }
  header .header_services .header_items .item {
    max-width: 493.33px !important;
  }
  main .main__team .team_photo .portrait {
    width: 400px;
    height: 298px;
  }
  main .main__team .team_descr {
    max-height: 298px;
    max-width: 1140px;
  }
  main .clients {
    justify-content: center;
  }
  main .clients .clients_company {
    max-width: 1720px;
    margin-bottom: 60px;
  }
  main .clients .clients_company .clients_brand {
    min-height: 120px !important;
  }
  .publication .publication_recommended {
    column-gap: 30px;
  }
  .publication .publication_recommended .publication_card {
    max-width: 513px;
  }
  .publication .publication_recommended .publication_card .publication_text {
    max-width: 453px;
  }
}
@media (max-width: 1024px) {
  .container {
    position: relative;
    margin: 0 auto;
    max-width: 914px;
    padding: 0 5px;
  }
  header .section_expo .expo_text {
    max-width: 405px !important;
  }
  header .header_services .header_items .item {
    max-width: 261px !important;
  }
  main .main__team {
    max-width: 904px !important;
    align-items: flex-start;
    max-height: 528px;
  }
  main .main__team .team_photo img {
    width: 400px !important;
    height: 528px !important;
  }
  main .main__team .team_descr {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px 0 30px 0;
  }
  main .main__team .team_descr .link {
    padding-bottom: 5px;
  }
  main .main__team .team_descr h2 {
    padding-bottom: 30px;
  }
  main .clients .clients_company .clients_brand {
    min-width: 250px;
  }
  main .publication .publication_recommended .publication_card {
    height: 556px;
  }
  main .publication .publication_recommended .publication_card .publication_text p {
    margin: 0 30px;
  }
}
@media (max-width: 768px) {
  .container {
    position: relative;
    margin: 0 auto;
    max-width: 658px;
    padding: 0 5px;
  }
  header .header_h .header_wrp .header_menue .header_logo {
    position: absolute;
    top: 105px;
  }
  header .header_h .header_wrp .header_menue .right_side {
    row-gap: 120px;
    align-items: flex-start;
  }
  header .header_h .header_wrp .header_menue .right_side .header_nav a {
    margin-left: 0;
    margin-right: 15px;
  }
  header .header_h .header_wrp h1 {
    margin-top: 159px;
  }
  header .header_h .section_expo {
    display: block;
  }
  header .header_h .section_expo .expo_nav {
    padding-right: 0;
  }
  header .header_h .section_expo .expo_nav ul {
    display: block;
    white-space: nowrap;
    overflow-x: scroll;
    border-right: 0;
  }
  header .header_h .section_expo .expo_nav ul li {
    padding: 0 15px;
    display: inline;
    text-align: left;
  }
  header .header_h .section_expo .expo_text {
    padding: 0 5px;
    max-width: 648px !important;
    margin: 0 auto;
  }
  header .header_h .header_services .header_items {
    justify-content: space-between;
    column-gap: 0;
  }
  main .main__team {
    max-height: fit-content;
    flex-direction: column;
  }
  main .main__team .team_photo .portrait {
    border-radius: 12px 12px 0px 0px;
  }
  main .main__team .team_photo img {
    width: 648px !important;
    height: 500px !important;
  }
  main .main__team .team_descr {
    max-height: fit-content;
    margin: 30px;
  }
  main .clients .clients_company .clients_brand {
    min-width: 33.33%;
  }
  main .publication .publication_recommended {
    flex-wrap: wrap;
  }
  main .publication .publication_recommended .publication_card {
    max-height: 514px !important;
    max-width: 309px;
  }
  main .publication .publication_recommended .publication_card .publication_text {
    margin: 30px;
  }
  main .publication .publication_recommended .publication_card .publication_text p {
    margin: 0;
  }
  main .publication .publication_recommended .publication_card_third {
    max-width: 100%;
  }
  main .publication .publication_recommended .publication_card_third .publication_text {
    margin: 30px;
    max-width: 100%;
  }
}
@media (max-width: 376px) {
  .container {
    position: relative;
    margin: 0 auto;
    max-width: 325px;
    padding: 0 5px;
  }
  .dot_separator {
    display: none;
  }
  h2 {
    font-size: 30px;
    line-height: 37px;
  }
  header .header_h::after {
    z-index: 1;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 45px;
    background: rgba(245, 245, 250, 0.2);
  }
  header .header_h .header_wrp .header_menue {
    padding: 10px 0 10px 0;
  }
  header .header_h .header_wrp .header_menue .header_logo .header_logo-main {
    display: none;
  }
  header .header_h .header_wrp .header_menue .right_side .header_contacts .dot_separator {
    display: none;
  }
  header .header_h .header_wrp .header_menue .right_side .header_contacts .header_fb {
    display: none;
  }
  header .header_h .header_wrp .header_menue .right_side .header_contacts .header_address {
    display: none;
  }
  header .header_h .header_wrp .header_menue .right_side .header_contacts .header_numb {
    position: absolute;
    right: 0;
  }
  header .header_h .header_wrp .header_menue .right_side .header_nav {
    display: none;
  }
  header .header_h .header_wrp .logo_mini {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .header_h .section_expo .expo_text {
    padding: 30px;
  }
  header .header_h .section_expo .expo_text p {
    font-size: 19px;
    line-height: 30px;
  }
  header .header_h .header_services .header_items .item {
    font-size: 16px;
    line-height: 26px;
    max-width: 315px !important;
  }
  main .main__team .team_photo img {
    max-width: 315px !important;
    max-height: 500px !important;
  }
  main .main__team .team_descr {
    max-width: 315px;
  }
  main .clients .clients_company .clients_brand {
    width: 100%;
  }
  main .publication .publication_recommended .publication_card {
    row-gap: 0;
    max-height: fit-content !important;
    max-height: 514px;
  }
  footer .footer_wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .footer_wrp .footer_contacts .footer_address {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
  }
  footer .footer_wrp .footer_contacts .footer_connection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
  }
  footer .footer_wrp .footer_roots {
    margin-left: 0;
  }
}